@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

*{
    margin:0;
    padding:0;
}
html,body{
    min-height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ebebeb;
    margin: 0;
}
.container-fluid{
    padding: 0 !important;


}
h1 { font-size: 60px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 14px; }
h6 { font-size: 14px; }

@media (min-width: 1200px) {
    .index-container {
        height:100%;
        padding-top: 200px;
        padding-bottom: 500px;
        overflow: auto;
    }

    .index-intro {
        width: 100%;
        height: 100%;
    }
    .carousel-caption{
        min-height: auto;
        min-width: auto;
        white-space: nowrap;
        top: 35%;
        bottom: auto;
    }
}
@media (min-width: 1200px) {
    nav {
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        text-align: center;
        height:200px;
    }
    .navbar-brand
    {
        left: 40%;
        position: absolute;
        text-align: center;
        height:250px;
    }
    li {
        padding-left: 30px;
        padding-right: 30px;
    }
    .input-group {
        width: 100px;
        text-align: left;
    }
}
@media (min-width: 1200px) {
    footer {
        position: relative;
        background-color: #9b8e73;
        padding: 1rem 1rem 0;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        border:none;
        height: 500px;
        margin-top:-500px;
        right: 0;
        color: white;
        clear:both;

    }
    .copy-right {
        margin: 0;
        left: 0;
        bottom: 0;
        padding:0;
        font-size: 10px;
        text-align: left;
        background-color: white;
        width:100%;
        border: none;
    }
}
@media (min-width: 1200px) {
    .jumbotron-fluid {
        height: 100%;
        min-height: 1065px;
        margin: 0;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: 100%;
        background: #bdb099 url("../images/contactusfoto.jpg") no-repeat center top;

    }
    .text-jumbotron{
        padding-top: 60px !important;
    }
    .contactform{
        padding-right: 100px !important;
        padding-left: 100px !important;
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }
}

@media (min-width: 1200px) {
     .jumbotron-fluid-special {
        height: 600px;
        margin: 0;
        background-size: cover;
        background: #bdb099 url("../images/bikeabout_1.jpg") no-repeat center;
        width:100%;
    }
    .text2-jumbotron{
        padding-top: 200px !important;
    }
    .abouttext{
        padding-right: 100px !important;
        padding-left: 100px !important;
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }
}
.sidenav {
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    margin-bottom: 30px;
}

.card-deck{
    padding-bottom: 10px;
    padding-top: 10px;
}

/*
Added these extra CSS rules for the product divs
 */
.card-text{
    font-size: 12px;
}

.seperator{
    padding: 0px 10px 0px 10px;
}

.notfound {
    display: block;
    margin: 0px auto;
    padding: 50px 0px 25px 0px;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


